{% extends "base.html" %}

{% block content %}
    <!-- Main introduction -->
    <h1>User Profile</h1>
    <h2>User: {{ user.username.capitalize() }}!</h2>
    <p>{{ user.username.capitalize() }}'s groups are {{ user.groups }}</p>

    <!-- Table with words and meanings -->
    <table class="table">
        <thead>
            <th style="text-align:left">Word</th>
            <th style="text-align:left">Meaning</th>
        </thead>
        {% for word_meaning in word_meanings %}
          <tr>
              <td>{{ word_meaning.word }}</td>
              <td>{{ word_meaning.meaning }}</td>
          </tr>
        {% endfor %}
    </table>
{% endblock %}