body {
    color: #61dafb !important;
    background: #282c34 !important;
}
div.main {
    margin: 10px;
}

#the_slang_word {
    font-size: xx-large;
    color: forestgreen;
    padding-left: 10px;
}